<!-- 
	测量数据发聩 表单 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:44:17
 -->
<form id="measure_data-form" lay-filter="measure_data-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('测量ID')}">测量ID</label>
        <div class="layui-input-block">
            <input name="measureId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('测量ID') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('测量类型')}">测量类型</label>
        <div class="layui-input-block">
            <input name="resultType" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('测量类型') }" type="text" class="layui-input" maxlength='16'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('领围')}">领围</label>
        <div class="layui-input-block">
            <input name="lingWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('领围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('胸围')}">胸围</label>
        <div class="layui-input-block">
            <input name="xiongWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('胸围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('腰围')}">腰围</label>
        <div class="layui-input-block">
            <input name="yaoWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('腰围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('腹围')}">腹围</label>
        <div class="layui-input-block">
            <input name="fuWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('腹围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右上臂围')}">右上臂围</label>
        <div class="layui-input-block">
            <input name="youShangBiWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右上臂围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右下臂围')}">右下臂围</label>
        <div class="layui-input-block">
            <input name="youXiaBiWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右下臂围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左上臂围')}">左上臂围</label>
        <div class="layui-input-block">
            <input name="zuoShangBiWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左上臂围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左下臂围')}">左下臂围</label>
        <div class="layui-input-block">
            <input name="zuoXiaBiWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左下臂围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右上腿围')}">右上腿围</label>
        <div class="layui-input-block">
            <input name="youShangTuiWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右上腿围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右下腿围')}">右下腿围</label>
        <div class="layui-input-block">
            <input name="youXiaTuiWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右下腿围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左上腿围')}">左上腿围</label>
        <div class="layui-input-block">
            <input name="zuoShangTuiWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左上腿围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左下腿围')}">左下腿围</label>
        <div class="layui-input-block">
            <input name="zuoXiaTuiWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左下腿围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('身高')}">身高</label>
        <div class="layui-input-block">
            <input name="shenGao" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('身高') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('肩宽')}">肩宽</label>
        <div class="layui-input-block">
            <input name="jianKuan" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('肩宽') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('背长')}">背长</label>
        <div class="layui-input-block">
            <input name="beiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('背长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('颈椎点高')}">颈椎点高</label>
        <div class="layui-input-block">
            <input name="jingZhuiDianGao" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('颈椎点高') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('腰围高')}">腰围高</label>
        <div class="layui-input-block">
            <input name="yaoWeiGao" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('腰围高') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('臀高')}">臀高</label>
        <div class="layui-input-block">
            <input name="tunGao" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('臀高') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('臀围')}">臀围</label>
        <div class="layui-input-block">
            <input name="tunWei" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('臀围') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('裤长')}">裤长</label>
        <div class="layui-input-block">
            <input name="kuChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('裤长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左臂长')}">左臂长</label>
        <div class="layui-input-block">
            <input name="zuoBiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左臂长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右臂长')}">右臂长</label>
        <div class="layui-input-block">
            <input name="youBiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右臂长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右上臂长')}">右上臂长</label>
        <div class="layui-input-block">
            <input name="youShangBiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右上臂长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右下臂长')}">右下臂长</label>
        <div class="layui-input-block">
            <input name="youXiaBiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右下臂长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左上臂长')}">左上臂长</label>
        <div class="layui-input-block">
            <input name="zuoShangBiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左上臂长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左下臂长')}">左下臂长</label>
        <div class="layui-input-block">
            <input name="zuoXiaBiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左下臂长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右腿长')}">右腿长</label>
        <div class="layui-input-block">
            <input name="youTuiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右腿长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左腿长')}">左腿长</label>
        <div class="layui-input-block">
            <input name="zuoTuiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左腿长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右上腿长')}">右上腿长</label>
        <div class="layui-input-block">
            <input name="youShangTuiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右上腿长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('右下腿长')}">右下腿长</label>
        <div class="layui-input-block">
            <input name="youXiaTuiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('右下腿长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左上腿长')}">左上腿长</label>
        <div class="layui-input-block">
            <input name="zuoShangTuiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左上腿长') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('左下腿长')}">左下腿长</label>
        <div class="layui-input-block">
            <input name="zuoXiaTuiChang" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('左下腿长') }" type="text" class="layui-input"    />
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="measure_data-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/order/measure_data/measure_data_form.js"></script>