@charset "UTF-8";

.layui-form-switch em {
    font-size: 14px;
}

.layui-upload-img {
    width:92px;
    height:92px;
    border: solid #c6c6c6 1px;
    border-radius: 3px;
}
.layui-upload-file-name {
    position: absolute;
    width: 92px;
    /*display: -webkit-box;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 6px;
    text-align: center;
    font-weight: bold;
    color: #666666;
}
.layui-upload-progress {
    width: 81px;
    margin-top:-10px;
    margin-left: 6px;
}
.layui-upload-button-div {
    position: absolute;
    margin-top:-70px;
    margin-left:20px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:column;
}
.layui-upload-button {
    width: 55px;
    margin-left: 0px;
    margin-bottom: 8px;
}


.layui-upload-unit {
    margin-top:11px;
    margin-bottom:31px;
    margin-right:11px;
}

.layui-upload-unit-single {
    margin-top:11px;
    margin-bottom:0px;
    margin-right:11px;
}

.layui-upload-list {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}