@charset "UTF-8";

.layui-form-switch em {
    font-size: 14px;
}

.layui-upload-img {
    width:92px;
    height:92px;
    border: solid #c6c6c6 1px;
    border-radius: 3px;
}
.layui-upload-file-name {
    position: absolute;
    width: 92px;
    /*display: -webkit-box;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 6px;
    text-align: center;
    font-weight: bold;
    color: #666666;
}
.layui-upload-progress {
    width: 81px;
    margin-top:-10px;
    margin-left: 6px;
}
.layui-upload-button-div {
    position: absolute;
    margin-top:-70px;
    margin-left:20px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:column;
}
.layui-upload-button {
    width: 55px;
    margin-left: 0px;
    margin-bottom: 8px;
}


.layui-upload-unit {
    margin-top:11px;
    margin-bottom:31px;
    margin-right:11px;
}

.layui-upload-unit-single {
    margin-top:11px;
    margin-bottom:0px;
    margin-right:11px;
}

.layui-upload-list {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.layui-table-view {
    margin-top: 0px;
}

.search-bar {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    z-index: 999;
    padding-top:10px;
    padding-bottom:4px;
}

.search-input-rows {
    display: -webkit-flex; /* Safari */
    display:flex;
    flex-direction:column;
    float: left;
}

.search-inputs {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left: 16px;
}



.search-buttons {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    position: absolute;
}

.search-unit {
    margin-bottom:8px;
    margin-right:16px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction:row;
    justify-content:center;
}

.search-label-div {
    display: inline-block;
    padding-top: 4px;
    text-align: right;
}

.search-label {
    padding-top: 4px;
    white-space: nowrap;
}

.search-colon {
    padding-top: 4px;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 5px;
}

.search-dash {
    padding-top: 4px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    width: 6px;
}

.search-input {
    width: 120px;
    height: 34px;
}

.search-date-input {
    text-align: center;
}

.search-content-badge {
    height: 25px;
    padding-top: 3px;
    margin-right: 4px;
    cursor: pointer;
}

xm-select {
    border: 1px solid #eeeeee;
    border-radius: 1px;
}

.advance-search-div {
    position: absolute;
    width: 100%;
    display: inline-block;
    top: 0px;
    left: 0px;
    background-color: #efefef;
    border-bottom-style: solid;
    border-bottom-color: #0C0C0C;
    border-bottom-width: 1px;
}

.advance-search-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

form-container {
    width: 100%;
    display: inline-block;
}

.layui-form-label {
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.layui-input-block {
    margin-left: 135px;
}


.layui-form-label-c1 {
    width: 65px;
}

.layui-input-block-c1 {
    margin-left: 100px;
}

.layui-required {
    color: #ff5722;
    font-size: 18px;
    font-weight: bold;
    display:inline-block;
    margin-top: 3px;
    margin-right: 3px;
}

.search-button-advance {
    background-color: #FAFAFA;
}


.form-group-title {
    margin-top: 8px;
    margin-bottom: 0px;
}

.form-group-title legend {
    font-size: 16px;
    color: #333;
}