<!--
/**
 * 系统资源 列表页 JS 脚本
 * @author 李方捷 , leefangjie@qq.com
 * @since 2023-02-07 11:43:51
 */
 -->
 <!DOCTYPE html>
<html style="background-color: #FFFFFF;">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
	<title th:text="${lang.translate('系统资源')}">系统资源</title>
    <link th:if(theme.ico!="null") rel="shortcut icon" th:href="${theme.ico}" type="image/vnd.microsoft.icon">
    <link th:if(theme.ico!="null") rel="icon" th:href="${theme.ico}" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}"/>
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/libs/material-design-webfont/css/material-design-icons-min.css" rel="stylesheet">
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
        .layui-form-label-c1 {
            width: 70px;
        }
        .layui-input-block-c1 {
            margin-left: 105px;
        }
    </style>
    <link th:each="css:${theme.css}" rel="stylesheet" th:href="${css}+'?'+${cacheKey}">
</head>

<body style="overflow-y: hidden;">
<div class="form-container" >

    <form id="data-form" lay-filter="data-form" class="layui-form model-form" style="display:none">


         <!--开始：group 循环-->


        <div class="layui-row form-row" id="default-content">

             <!--开始：column 循环-->
            <!-- 只有当非第一个分组没有title时才使 padding-top 为 0 -->
            <div class="layui-col-xs12 form-column" >

                <!-- text_input : ID ,  id -->
                <div class="layui-form-item" style="display: none">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('ID')}">ID</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="id" id="id" name="id" th:placeholder="${ lang.translate('请输入'+'ID') }" type="text" class="layui-input"  />
                    </div>
                </div>

                <!-- text_input : 名称 ,  name -->
                <div class="layui-form-item" >
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('名称')}">名称</div><div class="layui-required">*</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="name" id="name" name="name" th:placeholder="${ lang.translate('请输入'+'名称') }" type="text" class="layui-input"    lay-verify="|required"  />
                    </div>
                </div>

                <!-- radio_box : 类型 ,  type  -->
                <div class="layui-form-item" >
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('类型')}">类型</div><div class="layui-required">*</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input input-type="radio" type="radio" name="type" lay-filter="type" th:each="e,stat:${enum.toArray('org.github.foxnic.web.constants.enums.hrm.ResourceType')}" th:value="${e.code}" th:title="${e.text}" th:checked="${(e.code=='' || stat.index==-1)}">
                    </div>
                </div>

                <!-- radio_box : 访问控制 ,  accessType  -->
                <div class="layui-form-item" >
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('访问控制')}">访问控制</div><div class="layui-required">*</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input input-type="radio" type="radio" name="accessType" lay-filter="accessType" th:each="e,stat:${enum.toArray('org.github.foxnic.web.constants.enums.system.AccessType')}" th:value="${e.code}" th:title="${e.text}" th:checked="${(e.code=='' || stat.index==-1)}">
                    </div>
                </div>

                <!-- text_input : 地址 ,  url -->
                <div class="layui-form-item" >
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('地址')}">地址</div><div class="layui-required">*</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="url" id="url" name="url" th:placeholder="${ lang.translate('请输入'+'地址') }" type="text" class="layui-input"    lay-verify="|required"  />
                    </div>
                </div>

                <!-- radio_box : Method ,  method  -->
                <div class="layui-form-item" >
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('Method')}">Method</div><div class="layui-required">*</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input input-type="radio" type="radio" name="method" lay-filter="method" th:each="e,stat:${enum.toArray('org.github.foxnic.web.constants.enums.system.HttpMethodType')}" th:value="${e.code}" th:title="${e.text}" th:checked="${(e.code=='' || stat.index==-1)}">
                    </div>
                </div>

                <!-- text_input : 批次号 ,  batchId -->
                <div class="layui-form-item" style="display: none">
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('批次号')}">批次号</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="batchId" id="batchId" name="batchId" th:placeholder="${ lang.translate('请输入'+'批次号') }" type="text" class="layui-input"  />
                    </div>
                </div>

                <!-- text_input : 数据表 ,  tableName -->
                <div class="layui-form-item" >
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('数据表')}">数据表</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="tableName" id="tableName" name="tableName" th:placeholder="${ lang.translate('请输入'+'数据表') }" type="text" class="layui-input"  />
                    </div>
                </div>

                <!-- text_input : 模块 ,  module -->
                <div class="layui-form-item" >
                    <div class="layui-form-label layui-form-label-c1"><div th:text="${lang.translate('模块')}">模块</div></div>
                    <div class="layui-input-block layui-input-block-c1">
                        <input lay-filter="module" id="module" name="module" th:placeholder="${ lang.translate('请输入'+'模块') }" type="text" class="layui-input"  />
                    </div>
                </div>
            <!--结束：栏次内字段循环-->
            </div>
            <!--结束：栏次输入框循环-->
        </div>
        <!--结束：group循环-->

        <div style="height: 8px"></div>


    </form>

</div>
<div class="model-form-footer">
    <button class="layui-btn layui-btn-primary" id="cancel-button" lay-filter="cancel-button" type="button" th:text="${lang.translate('取消','','form.button')}" >取消</button>
    <button th:if="${perm.checkAnyAuth('sys_resourze:create','sys_resourze:update','sys_resourze:save')}" class="layui-btn" style="margin-right: 15px;display: none;"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存','','form.button')}">保存</button>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>
<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${layuiTableWidthConfig}]];
    var RADIO_TYPE_DATA = [[${enum.toArray('org.github.foxnic.web.constants.enums.hrm.ResourceType')}]];
    var RADIO_ACCESSTYPE_DATA = [[${enum.toArray('org.github.foxnic.web.constants.enums.system.AccessType')}]];
    var RADIO_METHOD_DATA = [[${enum.toArray('org.github.foxnic.web.constants.enums.system.HttpMethodType')}]];
    var VALIDATE_CONFIG={"accessType":{"labelInForm":"访问控制","inputType":"radio_box","required":true},"method":{"labelInForm":"Method","inputType":"radio_box","required":true},"name":{"labelInForm":"名称","inputType":"text_input","required":true},"type":{"labelInForm":"类型","inputType":"radio_box","required":true},"url":{"labelInForm":"地址","inputType":"text_input","required":true}};
    var AUTH_PREFIX="sys_resourze";


</script>



<script th:src="'/business/oauth/resourze/resourze_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/oauth/resourze/resourze_form.js?'+${cacheKey}"></script>

</body>
</html>
