<!-- 
/**
 * Token 列表页 JS 脚本
 * @author 李方捷 , leefangjie@qq.com
 * @since 2021-06-07 17:01:30
 */
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <title th:text="${lang.translate('Token')}">Token</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/module/formSelects/formSelects-v4.css"/>
    <link rel="stylesheet" href="/assets/libs/zTree/css/metroStyle/metroStyle.css"/>
    <!-- 自定义主题，使用EasyWeb主题生成器生成 -->
    <!--<link rel="stylesheet" href="assets/css/theme-blue.css"/>-->
</head>

<body>

<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title"><span th:text="${lang.translate('Token')}">Token</span></h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console"><span th:text="${lang.translate('首页')}">首页</span></a>
          <a><cite><span th:text="${lang.translate('Token')}">Token</span></cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <span th:text="${lang.translate('搜索')}">搜索</span>：
            <select id="search-field">
                <option value="" th:text="${lang.translate('-请选择-')}">-请选择-</option>
                <option value="id" th:text="${lang.translate('id')}">id</option>
                <option value="userId" th:text="${lang.translate('账户ID')}">账户ID</option>
                <option value="jti" th:text="${lang.translate('Token标识')}">Token标识</option>
                <option value="accessToken" th:text="${lang.translate('访问用Token')}">访问用Token</option>
                <option value="refreshToken" th:text="${lang.translate('刷新用Token')}">刷新用Token</option>
                <option value="accessTokenExpireTime" th:text="${lang.translate('访问用Token过期时间')}">访问用Token过期时间</option>
                <option value="accessTokenExpired" th:text="${lang.translate('访问用Token是否过期')}">访问用Token是否过期</option>
                <option value="refreshTokenExpireTime" th:text="${lang.translate('刷新用Token过期时间')}">刷新用Token过期时间</option>
                <option value="refreshTokenExpired" th:text="${lang.translate('刷新用Token是否过期')}">刷新用Token是否过期</option>
            </select>&emsp;
            <input id="search-input" class="layui-input search-input" type="text" th:placeholder="${lang.translate('请输入关键字')}"/>&emsp;
            <button id="search-button" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i><span th:text="${lang.translate('搜索')}">搜索</span></button>
            <button id="add-button" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('添加')}">添加</span></button>
            <button id="delete-button" class="layui-btn icon-btn layui-btn-danger"><i class="layui-icon">&#xe67e;</i><span th:text="${lang.translate('删除')}">删除</span></button>
            
        </div>

        <table class="layui-table" id="data-table" lay-filter="data-table"></table>
    </div>
</div>

<script type="text/javascript" src="/module/apiUrl.js"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>

<!-- 表格操作列 -->
<script type="text/html" id="tableOperationTemplate">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" th:text="${lang.translate('修改')}">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="del" th:text="${lang.translate('删除')}">删除</a>
</script>

<script src="/business/oauth/token/token_list.js"></script>

</body>
</html>