<!-- 
	数据字典 表单 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:41:22
 -->
<form id="dict-form" lay-filter="dict-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('字典名称')}">字典名称</label>
        <div class="layui-input-block">
            <input name="name" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('字典名称') }" type="text" class="layui-input" maxlength='64' lay-verify='required' required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('字典代码')}">字典代码</label>
        <div class="layui-input-block">
            <input name="code" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('字典代码') }" type="text" class="layui-input" maxlength='32' lay-verify='required' required />
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="dict-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/system/dict/dict_form.js"></script>