<!--
/**
 * 变更示例订单 列表页 JS 脚本
 * @author 李方捷 , leefangjie@qq.com
 * @since 2021-11-16 17:09:59
 */
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
    <title th:text="${lang.translate('变更示例订单')}">变更示例订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css" th:href="'/assets/libs/layui/css/layui.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/css/admin.css" th:href="'/assets/css/admin.css?'+${cacheKey}"/>
    <link rel="stylesheet" href="/assets/libs/toast/css/toast.css" type="text/css" th:href="'/assets/libs/toast/css/toast.css?'+${cacheKey}">
    <link rel="stylesheet" href="/assets/css/foxnic-web.css" th:href="'/assets/css/foxnic-web.css?'+${cacheKey}">
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <script th:inline="javascript">var foxnic_cachekey=[[${cacheKey}]];</script>
    <style>
    </style>
</head>

<body style="overflow-y: hidden">

<div class="layui-card">

    <div class="layui-card-body" style="">

        <div class="search-bar" style="">

            <div class="search-input-rows" style="opacity: 0">
                <!-- 搜索输入区域 -->
                <div class="layui-form toolbar search-inputs">
                    <!-- 主键 , id ,typeName=text_input, isHideInSearch=true -->
                    <!-- 标题 , title ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('标题')}" class="search-label title-label">标题</span><span class="search-colon">:</span></div>
                        <input id="title" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 下单时间 , orderTime ,typeName=date_input, isHideInSearch=true -->
                    <!-- 买家 , buyerId ,typeName=button, isHideInSearch=true -->
                    <!-- 收件地址 , address ,typeName=text_input, isHideInSearch=true -->
                    <!-- 总金额 , amount ,typeName=number_input, isHideInSearch=true -->
                    <!-- 版本 , chsVersion ,typeName=number_input, isHideInSearch=true -->
                    <!-- 来源ID , sourceId ,typeName=text_input, isHideInSearch=true -->
                    <!-- 变更ID , changeInstanceId ,typeName=text_input, isHideInSearch=true -->
                    <!-- 流程概要 , summary ,typeName=text_input, isHideInSearch=true -->
                    <!-- 最后审批人 , latestApproverId ,typeName=text_input, isHideInSearch=true -->
                    <!-- 最后审批人姓名 , latestApproverName ,typeName=text_input, isHideInSearch=true -->
                    <!-- 下一节点审批人 , nextApproverIds ,typeName=text_input, isHideInSearch=true -->
                    <!-- 下一审批人 , nextApproverNames ,typeName=text_input, isHideInSearch=true -->
                    <!-- 订单编号 , code ,typeName=text_input, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('订单编号')}" class="search-label code-label">订单编号</span><span class="search-colon">:</span></div>
                        <input id="code" class="layui-input search-input" style="width: 140px" type="text" />
                    </div>
                    <!-- 变更类型 , chsType ,typeName=radio_box, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('变更类型')}" class="search-label chsType-label">变更类型</span><span class="search-colon">:</span></div>


                        <div id="chsType" th:data="${enum.toArray('org.github.foxnic.web.constants.enums.changes.ChangeType')}" style="width:140px"></div>

                    </div>
                    <!-- 变更状态 , chsStatus ,typeName=radio_box, isHideInSearch=false -->
                    <div class="search-unit">
                        <div class="search-label-div" style=""><span th:text="${lang.translate('变更状态')}" class="search-label chsStatus-label">变更状态</span><span class="search-colon">:</span></div>


                        <div id="chsStatus" th:data="${enum.toArray('org.github.foxnic.web.constants.enums.changes.ApprovalStatus')}" style="width:140px"></div>

                    </div>


                </div>
            </div>


            <!-- 按钮区域 -->
            <div class="layui-form toolbar search-buttons" style="opacity: 0">
                <button id="search-button" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>&nbsp;&nbsp;<span th:text="${lang.translate('搜索')}">搜索</span></button>
            </div>
        </div>

        <div style="margin-top: 42px ">
            <table class="layui-table" id="data-table" lay-filter="data-table"></table>
        </div>

    </div>
</div>

<script type="text/javascript" src="/module/global.js" th:src="'/module/global.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js" th:src="'/assets/libs/jquery-3.2.1.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js" th:src="'/assets/libs/pandyle.min.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js" th:src="'/assets/libs/layui/layui.js?'+${cacheKey}"></script>
<script type="text/javascript" src="/assets/libs/toast/js/toast.js" th:src="'/assets/libs/toast/js/toast.js?'+${cacheKey}"></script>

<!-- 表格工具栏 -->
<script type="text/html" id="toolbarTemplate">
    <div class="layui-btn-container">
        <button th:if="${perm.checkAuth('chs_example_order:create')}" id="add-button" class="layui-btn icon-btn layui-btn-sm create-new-button no-css-create" lay-event="create"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('创建订单')}">创建订单</span></button>
        <button th:if="${perm.checkAuth('chs_example_order:delete-by-ids')}" id="delete-button" class="layui-btn icon-btn layui-btn-danger layui-btn-sm batch-delete-button no-css-delete" lay-event="batch-del"><i class="layui-icon">&#xe67e;</i><span th:text="${lang.translate('删除选中订单')}">创建订单</span></button>
        <button id="draft-process"  th:if="${perm.checkAuth('xxxx')}"class="layui-btn icon-btn layui-btn-sm   " lay-event="tool-draft-process"><span th:text="${lang.translate('起草')}">起草</span></button>
        <button id="submit-process"  class="layui-btn icon-btn layui-btn-sm   " lay-event="tool-submit-process"><span th:text="${lang.translate('提交')}">提交</span></button>
        <button id="revoke-process"  class="layui-btn icon-btn layui-btn-sm   " lay-event="tool-revoke-process"><span th:text="${lang.translate('撤回')}">撤回</span></button>
        <button id="abandon-process"  class="layui-btn icon-btn layui-btn-sm   " lay-event="tool-abandon-process"><span th:text="${lang.translate('作废')}">作废</span></button>
        <button id="agree-node"  class="layui-btn icon-btn layui-btn-sm   " lay-event="tool-agree-node"><span th:text="${lang.translate('同意')}">同意</span></button>
        <button id="reject-node"  class="layui-btn icon-btn layui-btn-sm   " lay-event="tool-reject-node"><span th:text="${lang.translate('驳回')}">驳回</span></button>
    </div>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="tableOperationTemplate">

    <button th:if="${perm.checkAuth('chs_example_order:view-form')}" class="layui-btn layui-btn-primary layui-btn-xs ops-view-button" lay-event="view" th:text="${lang.translate('查看')}" data-id="{{d.id}}">查看</button>
    <button th:if="${perm.checkAnyAuth('chs_example_order:update','chs_example_order:save')}" class="layui-btn layui-btn-primary layui-btn-xs ops-edit-button" lay-event="edit" th:text="${lang.translate('修改')}" data-id="{{d.id}}">修改</button>


    <button th:if="${perm.checkAuth('chs_example_order:delete')}" class="layui-btn layui-btn-xs layui-btn-danger ops-delete-button" lay-event="del" th:text="${lang.translate('删除')}" data-id="{{d.id}}">删除</button>

    <button class="layui-btn layui-btn-xs " lay-event="open-details" th:text="${lang.translate('明细')}" data-id="{{d.id}}">明细</button>

</script>


<script th:inline="javascript">
    var LAYUI_TABLE_WIDTH_CONFIG = [[${pageHelper.getTableColumnWidthConfig('data-table')}]];
    var RADIO_CHSTYPE_DATA = [[${enum.toArray('org.github.foxnic.web.constants.enums.changes.ChangeType')}]];
    var RADIO_CHSSTATUS_DATA = [[${enum.toArray('org.github.foxnic.web.constants.enums.changes.ApprovalStatus')}]];
    var AUTH_PREFIX="chs_example_order";


</script>

<script th:src="'/business/changes/example_order/example_order_ext.js?'+${cacheKey}"></script>
<script th:src="'/business/changes/example_order/example_order_list.js?'+${cacheKey}"></script>

</body>
</html>