<!-- 
/**
 * 代码生成示例 列表页 JS 脚本
 * @author 李方捷 , leefangjie@qq.com
 * @since 2021-08-06 11:07:09
 */
 -->
 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8"/>
	<title th:text="${lang.translate('代码生成示例')}">代码生成示例</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/foxnic-web.css">
    <link href="/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/assets/libs/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
</head>

<body style="overflow-y: hidden">
<div class="form-container">

    <form id="data-form" lay-filter="data-form" class="layui-form model-form" style="display:none">
        <input name="id" id="id"  type="hidden"/>

        <div class="layui-form-item" >
            <label class="layui-form-label" th:text="${lang.translate('单行文本')}">单行文本</label>
            <div class="layui-input-block">
                <input lay-filter="name" id="name" name="name" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('单行文本') }" type="text" class="layui-input"   />
            </div>
        </div>



            <div class="layui-form-item" >
            <label class="layui-form-label" th:text="${lang.translate('多行文本')}">多行文本</label>
            <div class="layui-input-block">
                <textarea lay-filter="notes" id="notes" name="notes" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('多行文本') }" class="layui-textarea" style="height: 300px" ></textarea>
            </div>
        </div>



        <div class="layui-form-item" >
            <label class="layui-form-label" th:text="${lang.translate('图片上传')}">图片上传</label>
            <div class="layui-upload layui-input-block">
                <input id="imageId"  name="imageId" lay-filter="imageId" style="display: none">
                <button type="button" class="layui-btn" id="imageId-button" th:text="${lang.translate('选择附件')}">选择附件</button>
                <div class="layui-upload-list" id="imageId-file-list"></div>
            </div>
        </div>




        <div class="layui-form-item" >
            <label class="layui-form-label" th:text="${lang.translate('多文件上传')}">多文件上传</label>
            <div class="layui-upload layui-input-block">
                <input id="fileIds"  name="fileIds" lay-filter="fileIds" style="display: none">
                <button type="button" class="layui-btn" id="fileIds-button" th:text="${lang.translate('选择附件')}">选择附件</button>
                <div class="layui-upload-list" id="fileIds-file-list"></div>
            </div>
        </div>




            <div class="layui-form-item" >
                <label class="layui-form-label" th:text="${lang.translate('整数输入')}">整数输入</label>
                <div class="layui-input-block">
                    <input lay-filter="area" id="area" name="area" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('整数输入') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="true" decimal="false" allow-negative="false" step="2.0" min-value="10.0" max-value="20.0"  scale="0"/>
                </div>
            </div>



            <div class="layui-form-item" >
                <label class="layui-form-label" th:text="${lang.translate('小数输入')}">小数输入</label>
                <div class="layui-input-block">
                    <input lay-filter="weight" id="weight" name="weight" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('小数输入') }" type="text" class="layui-input"   autocomplete="off" input-type="number_input" integer="false" decimal="true" allow-negative="true" step="0.5" min-value="-1.5" max-value="6.6"  scale="2"/>
                </div>
            </div>



        <div class="layui-form-item" >
            <label class="layui-form-label" th:text="${lang.translate('逻辑值')}">逻辑值</label>
            <div class="layui-input-block">
                <input type="checkbox" checked="" id="valid"  name="valid" lay-skin="switch" lay-filter="valid" lay-text="有效|无效" value="1">
            </div>
        </div>



        <div class="layui-form-item" >
            <label class="layui-form-label" th:text="${lang.translate('单选框(枚举)')}">单选框(枚举)</label>
            <div class="layui-input-block">
                <input type="radio" name="radioEnum" lay-filter="radioEnum" th:each="e,stat:${enum.toArray('org.github.foxnic.web.constants.enums.Language')}" th:value="${e.code}" th:title="${e.text}">
            </div>
        </div>



        <div class="layui-form-item" >
            <label class="layui-form-label" th:text="${lang.translate('单选框(字典)')}">单选框(字典)</label>
            <div class="layui-input-block">
                <input type="radio" name="radioDict" lay-filter="radioDict" th:each="e,stat:${dict.toArray('sex')}" th:value="${e.code}" th:title="${e.text}">
            </div>
        </div>



            <div class="layui-form-item" >
                <label class="layui-form-label" th:text="${lang.translate('复选框(枚举)')}">复选框(枚举)</label>
                <div class="layui-input-block">
                        <input type="checkbox" name="checkEnum" lay-filter="checkEnum" lay-skin="primary" th:each="e,stat:${enum.toArray('org.github.foxnic.web.constants.enums.MenuType')}" th:value="${e.code}" th:title="${e.text}">
                </div>
            </div>



            <div class="layui-form-item" >
                <label class="layui-form-label" th:text="${lang.translate('复选框(字典)')}">复选框(字典)</label>
                <div class="layui-input-block">
                        <input type="checkbox" name="checkDict" lay-filter="checkDict" lay-skin="primary" th:each="e,stat:${dict.toArray('measure_method')}" th:value="${e.code}" th:title="${e.text}">
                </div>
            </div>



            <div class="layui-form-item" >
                <label class="layui-form-label" th:text="${lang.translate('选择框(枚举)')}">选择框(枚举)</label>
                <div class="layui-input-block">
                    <div id="selectEnum" th:data="${enum.toArray('org.github.foxnic.web.constants.enums.SystemConfigType')}"></div>
                </div>
            </div>



            <div class="layui-form-item" >
                <label class="layui-form-label" th:text="${lang.translate('选择框(字典)')}">选择框(字典)</label>
                <div class="layui-input-block">
                    <div id="selectDict" th:data="${dict.toArray('order_status')}"></div>
                </div>
            </div>



            <div class="layui-form-item" >
                <label class="layui-form-label" th:text="${lang.translate('选择框(查询)')}">选择框(查询)</label>
                <div class="layui-input-block">
                    <div id="selectApi" th:data="${'/service-oauth/sys-resourze/query-paged-list'}"></div>
                </div>
            </div>



        <div class="layui-form-item" >
            <label class="layui-form-label" th:text="${lang.translate('日期')}">日期</label>
            <div class="layui-input-block">
                <input lay-filter="birthday" id="birthday" name="birthday" th:placeholder="${ lang.translate('请输入') +''+ lang.translate('日期') }" type="text" class="layui-input"    lay-verify="|date"   />
            </div>
        </div>



        <div style="height: 8px"></div>


    </form>

</div>

<div class="model-form-footer">
    <button class="layui-btn layui-btn-primary" id="cancel-button" lay-filter="cancel-button" type="button" th:text="${lang.translate('取消')}">取消</button>
    <button th:if="${perm.checkAnyAuth('sys_code_example:create','sys_code_example:update','sys_code_example:save')}" class="layui-btn" style="margin-right: 15px"  id="submit-button" lay-filter="submit-button" lay-submit th:text="${lang.translate('保存')}">保存</button>
</div>

<script type="text/javascript" src="/module/global.js"></script>
<script type="text/javascript" src="/assets/libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/assets/libs/pandyle.min.js"></script>
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>

<script src="/business/system/code_example/code_example_form.js"></script>

</body>
</html>