.layui-btn { background-color:#f6ad55 }
.batch-delete-button { border: solid 1px #f56c6c;background-color: #f56c6c; }
.ops-delete-button { border: #f56c6c;background-color: #f56c6c; }

.ops-view-button {
    background-color: #fff !important;
    color: #666 !important;
}
.ops-edit-button {
    background-color: #fff !important;
    color: #666 !important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em { background-color:#f6ad55 }

.layui-btn-fluid {
    background-color:#f6ad55
}

.search-button-advance {color:#fff}
.layui-form-onswitch {
    border-color: #f6ad55;
    background-color: #f6ad55;
}

.xm-label-block  {
    background-color: #f6ad55 !important;
}
.xm-label-block-disabled {
    background-color: #F0F0F0 !important;
    color: #a0a0a0 !important;
}


.xm-option-icon {
    border-color: #f6ad55 !important;
}
.xm-body .selected .xm-option-icon {
    color: #f6ad55 !important;
}

xm-select  {
    border-color: #E6E6E6 !important;
}


.layui-form-checked[lay-skin="primary"] i {
    border-color: #f6ad55 !important;
    background-color: #f6ad55;
    color: #fff;
}

#layui-table-page1-footer-download-excel-template , #layui-table-page1-footer-import-excel , #layui-table-page1-footer-download-excel {
    background-color: #fff;
    color: #333;
}

#layui-table-page1-footer-download-excel-template:hover , #layui-table-page1-footer-import-excel:hover , #layui-table-page1-footer-download-excel:hover {
    color: #333;
}

.layui-btn-primary:hover {
    border-color: #f6ad55;
    color: #fff;
}

.layui-form-radioed, .layui-form-radioed>i, .layui-form-radio:hover * {
    color: #f6ad55;
}

#cancel-button {
    color: #fff;
}

button[action-type] {
    color: #fff;
}

.layui-tab-title .layui-this {
    color: #f6ad55;
}

.layui-table-view .layui-table th, .layui-table-view .layui-table td {
    padding: 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.version-no {
    border-color: #f6ad55;
    background: #f6ad55;
    color: #fff;
}

.version-no:hover {
    border-color: #f6ad55;
    color: #fff;
}

#remove-all-result , #add-employee-item , #remove-result-item {
    border-color: #d2d2d2;
    color: #fafafa;
}

.layui-elem-quote {
    border-left: 5px solid #f6ad55;
}

.layui-border-blue {
    border-width: 1px;
    border-style: solid;
    border-color: #f6ad55 !important;
    color: #fff !important;
}

.layui-timeline-axis {
    position: absolute;
    left: -5px;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    color: #f6ad55;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.layui-timeline-axis:hover {
    color: #f56c6c;
}

.layui-badge {
    background-color:#f6ad55;
}

.layui-bg-green {
    background-color:#36b368 !important;
}

.layui-bg-blue {
    background-color:#2d8cf0 !important;
}
