<!-- 
	虚拟效果视频展示 列表 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:44:17
 -->
<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title"><span th:text="${lang.translate('虚拟效果视频展示')}">虚拟效果视频展示</span></h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console"><span th:text="${lang.translate('首页')}">首页</span></a>
          <a><cite><span th:text="${lang.translate('虚拟效果视频展示')}">虚拟效果视频展示</span></cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <span th:text="${lang.translate('搜索')}">搜索</span>：
            <select id="virtual_effect-search-field">
                <option value="" th:text="${lang.translate('-请选择-')}">-请选择-</option>
                <option value="id" th:text="${lang.translate('ID')}">ID</option>
                <option value="orderId" th:text="${lang.translate('订单ID')}">订单ID</option>
                <option value="measureId" th:text="${lang.translate('测量ID')}">测量ID</option>
                <option value="productId" th:text="${lang.translate('商品ID')}">商品ID</option>
                <option value="videoLocation" th:text="${lang.translate('视频地址')}">视频地址</option>
            </select>&emsp;
            <input id="virtual_effect-search-value" class="layui-input search-input" type="text" th:placeholder="${lang.translate('请输入关键字')}"/>&emsp;
            <button id="virtual_effect-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i><span th:text="${lang.translate('搜索')}">搜索</span></button>
            <button id="virtual_effect-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('添加')}">添加</span></button>
        </div>

        <table class="layui-table" id="virtual_effect-table" lay-filter="virtual_effect-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="virtual_effect-table-operation">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" th:text="${lang.translate('修改')}">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="del" th:text="${lang.translate('删除')}">删除</a>
</script>

<script src="/pages/order/virtual_effect/virtual_effect_list.js"></script>