<!-- 
	区域 表单 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:41:24
 -->
<form id="area-form" lay-filter="area-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('父级ID')}">父级ID</label>
        <div class="layui-input-block">
            <input name="parentId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('父级ID') }" type="text" class="layui-input"  lay-verify='required' required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('区域名称')}">区域名称</label>
        <div class="layui-input-block">
            <input name="name" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('区域名称') }" type="text" class="layui-input" maxlength='255' lay-verify='required' required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('等级（深度）')}">等级（深度）</label>
        <div class="layui-input-block">
            <input name="depth" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('等级（深度）') }" type="text" class="layui-input"  lay-verify='required' required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('创建人id')}">创建人id</label>
        <div class="layui-input-block">
            <input name="createdBy" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('创建人id') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('修改人id')}">修改人id</label>
        <div class="layui-input-block">
            <input name="updatedBy" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('修改人id') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('创建时间')}">创建时间</label>
        <div class="layui-input-block">
            <input name="createDate" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('创建时间') }" type="text" class="layui-input"  lay-verify='required' required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('修改时间')}">修改时间</label>
        <div class="layui-input-block">
            <input name="updateDate" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('修改时间') }" type="text" class="layui-input"  lay-verify='required' required />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('数据是否有效')}">数据是否有效</label>
        <div class="layui-input-block">
            <input name="valid" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('数据是否有效') }" type="text" class="layui-input"  lay-verify='required' required />
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="area-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/system/area/area_form.js"></script>