<!-- 
	测量文件采集 表单 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:44:17
 -->
<form id="measure_file-form" lay-filter="measure_file-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('订单测量ID')}">订单测量ID</label>
        <div class="layui-input-block">
            <input name="measureId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('订单测量ID') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('文件ID')}">文件ID</label>
        <div class="layui-input-block">
            <input name="fileId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('文件ID') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('测量类型')}">测量类型</label>
        <div class="layui-input-block">
            <input name="type" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('测量类型') }" type="text" class="layui-input" maxlength='8'   />
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="measure_file-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/order/measure_file/measure_file_form.js"></script>