<!-- 
	测量文件采集 列表 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:44:17
 -->
<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title"><span th:text="${lang.translate('测量文件采集')}">测量文件采集</span></h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console"><span th:text="${lang.translate('首页')}">首页</span></a>
          <a><cite><span th:text="${lang.translate('测量文件采集')}">测量文件采集</span></cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <span th:text="${lang.translate('搜索')}">搜索</span>：
            <select id="measure_file-search-field">
                <option value="" th:text="${lang.translate('-请选择-')}">-请选择-</option>
                <option value="id" th:text="${lang.translate('id')}">id</option>
                <option value="measureId" th:text="${lang.translate('订单测量ID')}">订单测量ID</option>
                <option value="fileId" th:text="${lang.translate('文件ID')}">文件ID</option>
                <option value="type" th:text="${lang.translate('测量类型')}">测量类型</option>
            </select>&emsp;
            <input id="measure_file-search-value" class="layui-input search-input" type="text" th:placeholder="${lang.translate('请输入关键字')}"/>&emsp;
            <button id="measure_file-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i><span th:text="${lang.translate('搜索')}">搜索</span></button>
            <button id="measure_file-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('添加')}">添加</span></button>
        </div>

        <table class="layui-table" id="measure_file-table" lay-filter="measure_file-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="measure_file-table-operation">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit" th:text="${lang.translate('修改')}">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="del" th:text="${lang.translate('删除')}">删除</a>
</script>

<script src="/pages/order/measure_file/measure_file_list.js"></script>