<!-- 
	订单 表单 HTML 页面
	@author 李方捷
	@since 2021-04-15 01:58:24
 -->
<form id="order-form" lay-filter="order-form" class="layui-form model-form">
    <input name="id" id="id"  type="hidden"/>
    
    <div class="layui-form-item" id="orderNoField">
        <label class="layui-form-label" th:text="${lang.translate('订单号')}">订单号</label>
        <div class="layui-input-block">
            <input id="orderNo" name="orderNo" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('订单号') }" type="text" class="layui-input"  maxlength='16' disabled="disabled" />
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('公司')}">公司</label>
        <div class="layui-input-block">
             <select id="companyId" name="companyId" xm-select="companyId" xm-select-radio lay-verify='required'>
            </select>
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('状态')}">状态</label>
        <div class="layui-input-block">
            <select id="status" name="status" xm-select="status" xm-select-radio lay-verify='required'>
            </select>
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('预约时间')}">预约时间</label>
        <div class="layui-input-block">
            <input id="appointmentTime" name="appointmentTime" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('预约时间') }" type="text" class="layui-input"  lay-verify="date|required"  autocomplete="off"  />
        </div>
    </div>
 
 
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('省份')}">省份</label>
        <div class="layui-input-block">
            <select id="provinceId" name="provinceId" xm-select="provinceId" xm-select-radio lay-verify='required'>
            </select>
        </div>
    </div>
    
	<div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('城市')}" >城市</label>
        <div class="layui-input-block">
            <select id="cityId" name="cityId" xm-select="cityId" xm-select-radio lay-verify='required'>
            </select>
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('区县')}">区县</label>
        <div class="layui-input-block">
            <select id="areaId" name="areaId" xm-select="areaId" xm-select-radio lay-verify='required'>
            </select>
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('街道')}">街道</label>
        <div class="layui-input-block">
            <select id="	" name="townId" xm-select="townId" xm-select-radio lay-verify='required'>
            </select>
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('详细地址')}">详细地址</label>
        <div class="layui-input-block">
            <input id="addressDetail" name="addressDetail" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('详细地址') }" type="text" class="layui-input"  maxlength='256' lay-verify='required' />
        </div>
    </div>
    
	

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="order-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/order/order/order_form.js"></script>