<!-- 
	虚拟试衣 表单 HTML 页面
	@author 李方捷
	@since 2021-04-09 01:57:23
 -->
<form id="virtual_library-form" lay-filter="virtual_library-form" class="layui-form model-form">
    <input name="id" id="id"  type="hidden"/>
    <input name="effectFileId" id="effectFileId"  type="hidden"/>
    <input name="productId" id="productId"  type="hidden"/>
    <input name="fabricId" id="fabricId"  type="hidden"/>
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('商品')}">商品</label>
        <div class="layui-input-block">
            <input disabled id="productName" name="productName" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('商品') }" type="text" class="layui-input"    />
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('面料')}">面料</label>
        <div class="layui-input-block">
            <input disabled id="fabricName" name="fabricName" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('面料') }" type="text" class="layui-input"    />
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
    	<label class="layui-form-label" ></label>
	    <div class="layui-upload layui-input-block">
		  <button type="button" class="layui-btn" id="effectFileId-button" th:text="${lang.translate('选择图片')}">选择图片</button>
		  <div class="layui-upload-list">
		    <img class="layui-upload-img" onclick="window.previewImage(this)" id="effectFileId-image" style="width:92px;height:92px" src="/assets/images/no-image-92@2x.png">
		    <p id="effectFileId-text"></p>
		  </div>
		</div>
	</div>
	
	
	
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('是否有效')}">是否有效</label>
        <div class="layui-input-block">
            <input type="checkbox" checked="" id="valid"  name="valid" lay-skin="switch" lay-filter="valid" lay-text="有效|无效" value="1">
        </div>
    </div>
    
	

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="virtual_library-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/product/virtual_library/virtual_library_form.js"></script>