<!-- 
	角色 表单 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:41:23
 -->
<form id="role-form" lay-filter="role-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('代码')}">代码</label>
        <div class="layui-input-block">
            <input name="code" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('代码') }" type="text" class="layui-input" maxlength='32'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('名称')}">名称</label>
        <div class="layui-input-block">
            <input name="name" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('名称') }" type="text" class="layui-input" maxlength='64'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('是否有效')}">是否有效</label>
        <div class="layui-input-block">
            <input name="valid" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('是否有效') }" type="text" class="layui-input"    />
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="role-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/system/role/role_form.js"></script>