<!-- 
	订单测量信息 列表 HTML 页面
	@author 李方捷
	@since 2021-04-16 09:44:30
 -->
<div class="layui-card">

    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <span th:text="${lang.translate('搜索')}">搜索</span>：
            <select id="measure-search-field">
                <option value="" th:text="${lang.translate('-请选择-')}">-请选择-</option>
                <option value="bodyName" th:text="${lang.translate('姓名')}">姓名</option>
                <option value="bodyDept" th:text="${lang.translate('部门')}">部门</option>
                <option value="bodySex" th:text="${lang.translate('性别')}">性别</option>
                <!--  
                <option value="status" th:text="${lang.translate('状态')}">状态</option>
                -->
            </select>&emsp;
            <input id="measure-search-value" class="layui-input search-input" type="text" th:placeholder="${lang.translate('请输入关键字')}"/>&emsp;
            <button id="measure-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i><span th:text="${lang.translate('搜索')}">搜索</span></button>
            <button id="measure-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i><span th:text="${lang.translate('添加')}">添加</span></button>
            <button id="measure-btn-delete" class="layui-btn icon-btn layui-btn-danger"><i class="layui-icon">&#xe67e;</i><span th:text="${lang.translate('删除')}">删除</span></button>
            <button id="measure-btn-export" class="layui-btn icon-btn"><i class="layui-icon">&#xe62d;</i><span th:text="${lang.translate('导出')}">导出</span></button>
            <button id="measure-btn-import" class="layui-btn icon-btn "><i class="layui-icon">&#xe681;</i><span th:text="${lang.translate('导入')}">导入</span></button>
            &nbsp;&nbsp;<a href="/assets/excel/measure.xlsx"  target="_blank">数据模版</a>
        </div>

        <table class="layui-table" id="measure-table" lay-filter="measure-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="measure-table-operation">
	<a class="layui-btn layui-btn-xs" lay-event="body_data" th:text="${lang.translate('净体')}">净体</a>
	<a class="layui-btn layui-btn-xs" lay-event="outfit_data" th:text="${lang.translate('成衣')}">成衣</a>
	<a class="layui-btn layui-btn-xs" lay-event="effect" th:text="${lang.translate('视频')}">视频</a>
    <a class="layui-btn layui-btn-xs" lay-event="del" th:text="${lang.translate('删除')}">删除</a>
</script>

<script type="text/javascript">
    var orderId= [[${orderId}]];
</script>

<script src="/pages/order/measure/measure_list.js"></script>