<!-- 
	虚拟效果视频展示 表单 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:44:17
 -->
<form id="virtual_effect-form" lay-filter="virtual_effect-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('订单ID')}">订单ID</label>
        <div class="layui-input-block">
            <input name="orderId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('订单ID') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('测量ID')}">测量ID</label>
        <div class="layui-input-block">
            <input name="measureId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('测量ID') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('商品ID')}">商品ID</label>
        <div class="layui-input-block">
            <input name="productId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('商品ID') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('视频地址')}">视频地址</label>
        <div class="layui-input-block">
            <input name="videoLocation" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('视频地址') }" type="text" class="layui-input" maxlength='512'   />
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="virtual_effect-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/order/virtual_effect/virtual_effect_form.js"></script>