<!-- 
	订单商品关系 表单 HTML 页面
	@author 李方捷
	@since 2021-04-15 05:32:20
 -->
<form id="product-form" lay-filter="product-form" class="layui-form model-form">
    <input name="id" id="id"  type="hidden"/>
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('订单ID')}">订单ID</label>
        <div class="layui-input-block">
            <input id="orderId" name="orderId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('订单ID') }" type="text" class="layui-input" lay-verify='required'  required />
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('商品ID')}">商品ID</label>
        <div class="layui-input-block">
            <input id="productId" name="productId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('商品ID') }" type="text" class="layui-input"    />
        </div>
    </div>
    
	

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="product-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/order/product/product_form.js"></script>