<!-- 
	商品收藏 表单 HTML 页面
	@author 李方捷
	@since 2021-04-15 01:33:22
 -->
<form id="favorite_product-form" lay-filter="favorite_product-form" class="layui-form model-form">
    <input name="id" id="id"  type="hidden"/>
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('用户ID')}">用户ID</label>
        <div class="layui-input-block">
            <input id="userId" name="userId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('用户ID') }" type="text" class="layui-input" lay-verify='required'  required />
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('商品ID')}">商品ID</label>
        <div class="layui-input-block">
            <input id="productId" name="productId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('商品ID') }" type="text" class="layui-input" lay-verify='required'  required />
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('材料ID')}">材料ID</label>
        <div class="layui-input-block">
            <input id="fabricId" name="fabricId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('材料ID') }" type="text" class="layui-input" lay-verify='required'  required />
        </div>
    </div>
    
	
    
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('目录ID')}">目录ID</label>
        <div class="layui-input-block">
            <input id="folderId" name="folderId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('目录ID') }" type="text" class="layui-input" lay-verify='required'  required />
        </div>
    </div>
    
	

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="favorite_product-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/crm/favorite_product/favorite_product_form.js"></script>