<!-- 
	客户公司 表单 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:41:25
 -->
<form id="company-form" lay-filter="company-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('公司名称')}">公司名称</label>
        <div class="layui-input-block">
            <input name="name" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('公司名称') }" type="text" class="layui-input" maxlength='128'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('统一社会信用代码')}">统一社会信用代码</label>
        <div class="layui-input-block">
            <input name="unifySocialCode" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('统一社会信用代码') }" type="text" class="layui-input" maxlength='128'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('营业执照图片地址')}">营业执照图片地址</label>
        <div class="layui-input-block">
            <input name="licensePhoto" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('营业执照图片地址') }" type="text" class="layui-input" maxlength='512'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('经营范围')}">经营范围</label>
        <div class="layui-input-block">
            <input name="businessRange" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('经营范围') }" type="text" class="layui-input" maxlength='65535'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('营业期限开始日期')}">营业期限开始日期</label>
        <div class="layui-input-block">
            <input name="termStartDate" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('营业期限开始日期') }" type="text" class="layui-input" maxlength='256'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('营业期限结束日期')}">营业期限结束日期</label>
        <div class="layui-input-block">
            <input name="termEndDate" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('营业期限结束日期') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('合同生效时间')}">合同生效时间</label>
        <div class="layui-input-block">
            <input name="contractStartDate" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('合同生效时间') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('合同状态')}">合同状态</label>
        <div class="layui-input-block">
            <input name="contractStatus" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('合同状态') }" type="text" class="layui-input" maxlength='16'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('公司类型')}">公司类型</label>
        <div class="layui-input-block">
            <input name="type" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('公司类型') }" type="text" class="layui-input" maxlength='16'   />
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="company-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/crm/company/company_form.js"></script>