<!-- 
	功能菜单 表单 HTML 页面
	@author 李方捷
	@since 2021-04-01 10:41:22
 -->
<form id="menu-form" lay-filter="menu-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('图标')}">图标</label>
        <div class="layui-input-block">
            <input name="icon" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('图标') }" type="text" class="layui-input" maxlength='64'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('样式')}">样式</label>
        <div class="layui-input-block">
            <input name="css" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('样式') }" type="text" class="layui-input" maxlength='128'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('标签')}">标签</label>
        <div class="layui-input-block">
            <input name="label" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('标签') }" type="text" class="layui-input" maxlength='64'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('菜单类型')}">菜单类型</label>
        <div class="layui-input-block">
            <input name="type" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('菜单类型') }" type="text" class="layui-input"    />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('模版路径')}">模版路径</label>
        <div class="layui-input-block">
            <input name="path" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('模版路径') }" type="text" class="layui-input" maxlength='512'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('路由地址')}">路由地址</label>
        <div class="layui-input-block">
            <input name="url" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('路由地址') }" type="text" class="layui-input" maxlength='512'   />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="${lang.translate('上级ID')}">上级ID</label>
        <div class="layui-input-block">
            <input name="parentId" th:placeholder="${ lang.translate('请输入') +' '+ lang.translate('上级ID') }" type="text" class="layui-input"    />
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button" th:text="${lang.translate('取消')}">取消</button>
        <button class="layui-btn" lay-filter="menu-form-submit" lay-submit th:text="${lang.translate('保存')}">保存</button>
    </div>
</form>

<script src="/pages/system/menu/menu_form.js"></script>